<div class="container">
<div class="note note-info">
  <div class="page-header">
    <h3>How it works</h3>
  </div>
    <ul>
      <li>This is a PPLNS Mining Pool.</li>
      <li>Miners work together to find the block.</li>
      <li>The block reward is shared between miners</li>
      <li>PPLNS system (N=200000 shares)</li>
      <li>See payouts section below to learn about how PPLNS works!</li>
    </ul>
    <h3>Features</h3>
    <ul>
      <li>Full stats with charts, rewards and earnings.</li>
      <li>Pool fee is 0.5%</li>
      <li>Pool allways pays all Mining Rewards (Blocks, Fees and Uncle Rewards)</li>
      <li>Pool always pays Tx Fees</li>
      <li>Fast and stable servers with DDOS protection</li>
      <li>Dedicated Servers located in the U.S.</li>
     </ul> 
</div>
 <div class="note note-info">
 <div class="page-header">
  <h3>Payouts</h3><br>
  Depending on the selected coin and pool, available payout schemes are PPLNS ad SOLO. PPLNS and SOLO pool fees are 0.5%. The pool fee is deducted from the payout amount before the patment is made to the miner.
  The PPLNS Pay Per Last N Shares reward system is used to prevent pool hopping. The pool checks how many shares you've sent from the last N (number) of pool shares and makes the payouts based on the value calculated. 
  Mining pools get solutions from all of the connected miners, and if one of those numerous solutions appears to be a proper one, the pool gets a reward for the created block. This reward is shared proportionally to the efforts applied by the miners and forwarded to their wallets.
  The Solo reward system is a type of cryptocurrency mining while using your own (or leased) hardware but without any help from other miners. If a Solo miner finds a block, the full reward goes to his or her wallet.
  Any rewards accumulated by a given cryptocurrency address may only be paid to that particular address. Wallet balances CAN NOT be merged or sent to another wallet.
 </div>
 </div>
 </div>
  
  
